$main-color: #4c934c;
$light-color: lighten($main-color, 10%);
$dark-color: darken($main-color, 10%);

@mixin google-font($font) {
	$font: unquote($font);
	@import url(https://font.googleapis.com/css?family=#{$font});
}
@include google-font("Roboto");

html, body { font-family: "Roboto", sans-serif; }

//---------CONTAINERS--------
#main {
	margin: 50px auto 15px auto;
	padding: 0;
}

.content { margin: 0; }

.field {
	padding: 30px;
	input {
		border: 0;
		border-bottom: 1px solid;
		border-radius: 0;
		margin: 30px 0 10px 0;
		padding-left: 0;
		transition: 0.3s;
		&:hover {
			background-color: darken(#fff, 5%);
			transition: 0.3s
		}
	}
}

//-----------LOGO------------
.hash {
	margin-right: 20px;
	padding: 0;
	text-align: right;
	label {
		font-size: 900%;
		font-weight: bold;
		color: $main-color;
		transition: 0.5s;
		&:hover { color: $dark-color; }
	}
}

//----------CONTENTS-------------
h1 { text-align: center; }

span {
	color: $main-color;
	font-weight: bold;
}

legend { font-weight: bold; }

p {
	color: $main-color;
	text-align: center;
	font-weight: bold;
}

.card {
	margin: 0 10% 5% 10%;
	border: 0;
	padding: 0;
}

.card-header {
	background-color: $main-color;
	color: #fff;
	font-weight: bold;
}

.card-block { background-color: darken(#fff, 15%); }
