@media (max-width: 992px) {
	html, body { font-size: 14px; }
}

@media (max-width: 575px) {
	.hash { text-align: center; }
}

@media (max-width: 480px) {
	.hash { text-align: center; }
	.field { padding: 0 10px; }
	.card { margin: 10px 25px;}
}

@media (max-width: 320px) {
	html, body { font-size: 12px; }
}